<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="https://marketplace.walmartapis.com/v2/"/>
    <add key="WMName" value="WalmartService"/>
    <add key="WMAuthSignature" value="{YOUR WALMART AUTH SIGN"/>
    <add key="WMConsumerId" value="{YOUR WALMART ConsumerId"/>
    <add key="WMChannelType" value="{YOUR WALMART Channel Type"/>

  </appSettings>
</configuration>